<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <div class="main">
      <%- include ("../partials/map.ejs") %>
      <%- include ("/scripts/autocomplete.ejs") %>
    </div>
  </body>
</html>
